@if ($plugin-headroom) {
    .headroom + .wrap-main {
        // Only applied to .wrap-main when preceded by .headroom (i.e. the plugin is active)
        margin-top: 120px;
    }
    .headroom {
        position: fixed;
        z-index: 100;
        top: 0;
        width: 100%;
        height: 120px;
        transition: transform 180ms linear;
    }
    .headroom--pinned {
        transform: translateY(0%);
    }
    .headroom--unpinned {
        transform: translateY(-100%);
    }
}
