/// -------------------
/// Function: Calculate Percent (CP)
/// -------------------

@function calc-percent($target, $container) {
    @return ($target / $container) * 100%;
}

@function cp($target, $container) {
    @return calc-percent($target, $container);
}


/// -------------------
/// Function: Calculate Rem (CR)
/// -------------------
@function calc-rem($size) {
    $remSize: $size / $base-font-size;
    @return $remSize * 1rem;
}

@function cr($size) {
    @return calc-rem($size);
}


// A simple function to retrieve a color from the array; adapted from http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
@function color($request) {
  @return map-get($color, $request);
}
