// -------------------
// Mixin: Arrow
// -------------------

@mixin arrow($direction, $color, $size) {
    display: block;
    width: 0;
    height: 0;
    @if $direction == 'top' {
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
        border-left: $size solid transparent;
    } @else if $direction == 'right' {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    } @else if $direction == 'bottom' {
        border-top: $size solid $color;
        border-right: $size solid transparent;
        border-left: $size solid transparent;
    } @else if $direction == 'left' {
        border-top: $size solid transparent;
        border-right: $size solid $color;
        border-bottom: $size solid transparent;
    } @else if $direction == 'top-left' {
        border-top: $size solid $color;
        border-right: $size solid transparent;
    } @else if $direction == 'top-right' {
        border-top: $size solid $color;
        border-left: $size solid transparent;
    } @else if $direction == 'bottom-left' {
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
    } @else if $direction == 'bottom-right' {
        border-bottom: $size solid $color;
        border-left: $size solid transparent;
    }
}

// -------------------
// Mixin: Font Size
// -------------------

@mixin font-size($size) {
    font-size: $size;
    font-size: cr($size);
}

// -------------------
// Mixin: Line Height
// -------------------

@mixin line-height($heightValue) {
    line-height: $heightValue;
    line-height: cr($heightValue);
}
