%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: ' ';
    }
    &:after {
        clear: both;
    }
}

%hide {
    display: none;
}

%max-width {
    max-width: 100%;
    height: auto;
}

%fill-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

%vertical-align-parent {
    transform-style: preserve-3d;
}

%vertical-align-child {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}