// Bourbon Grid Max
$max-width: em(1140);
$container-padding: em(20);

// Neat: Columns
$border-box-sizing: true;
$grid-columns: 12;
$column: golden-ration(1em, 3);
$gutter: golden-ration(1em, 1);

// Colours
$color: (
    text: #444,
    header: #222,
    link: steelblue,
    link-muted: steelblue,
    header-background: whitesmoke,
    body-background: white
);

// Fonts
$font-family-one: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$font-family-two: Georgia, serif;

// Typography
$base-font-family: $font-family-one;
$base-font-size: 16px;
$base-font-color: color(text);

// An example of a switch; flip to false and the Headroom.js styling won't be included in `style.css`
$plugin-headroom: true;