html {
    font-size: $base-font-size;
    min-height: 100%;

    -webkit-font-smoothing: antialiased;
}

body {
    font-family: $font-family-one;
    min-height: 100%;
    color: color(text);
    background: color(body-background);
}
