h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

small {

}

pre {
    
}

b,
strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

// Links
a,
a:visited {
    color: color(link);
}

a:hover,
a:focus, {

}


