// Inline menu; used in header and footer navigation
.menu-inline {
    @extend %clearfix;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        & > li {
            float: left;
            margin-right: em(10);
            &:last-of-type {
                margin-right: 0;
            }
        }
        > li > ul {
            @extend %hide; // Hide submenus for the sake of simplicity; obviously you'd want to remove this when you apply your own styling
        }
    }
}

// Hide header menu
.menu-header ul {
    display: none;

    @include media(min-width 600px) {
        display: block;
    }
    &.toggled {
        display: block;
    }
}

// Menu toggle for mobile phones and small screens
.responsive-menu-toggle {
    @include media(min-width 600px) {
        display: none;
    }
    &.toggled {
        display: none;
    }
}


// Page Navigation
.nav-posts {
    padding-top: em(30);

    @extend %clearfix;
}


.nav-previous,
.nav-next {
    width: 50%;
}

.nav-previous {
    float: left;
    padding-right: 10px;
}

.nav-next {
    float: right;
    padding-left: 10px;
    text-align: right;
}
